[submodule "position-from-aruco-video"]
	path = PositionFromArucoVideo
	url = https://gitlab.com/michail.drozdov/position-from-aruco-video.git
[submodule "neuralnet"]
	path = neuralnet
	url = https://gitlab.com/sudoLife/neuralnet.git
[submodule "PythonRadarTracker"]
	path = PythonRadarTracker
	url = https://gitlab.com/michail.drozdov/python-radar-tracker.git
